#credential_info{
    padding: 20px;
}
#credential_info>p{
    font-size: 20px;
    text-align: center;
    margin-top:100px;
}
#credential_info>h4{
    text-align: center;
    margin-top:30px;
}
#credential_info>h4>button{
    outline:none;
}
/*证书续期样式*/
#uploadify_box{
    position: fixed;
    z-index:5;
    background:rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:none;

}
#credential_upload{
    width:400px;;
    height:220px;
    background:#fff;
    position:absolute;
    top:35%;
    left:40%;
    padding:30px;
}
#uploadify_close{
    position: absolute;
    top:38%;
    left:59%;
    z-index:5;
    cursor:pointer;
}
#uploadify{
    margin-top:100px;
}
#credential_all{
    display: none;
    text-align:center;
}
#credential_all>div{
   /* display: flex;
   justify-content:space-between;*/
   padding:20px 40px;
   text-align:center;
}
#credential_all>div>b{

}
#credential_all>div>b{
    width:33%;
    display: inline-block;
}
#credential_list{
    list-style:none;
    display:none;

}
#credential_list>li{
    /*display: flex;
    justify-content:space-between;*/
    padding:10px 20px;
}
#credential_list>li>p{
    width:33%;
    text-align:center;
    display: inline-block;
}
/*申请证书样式*/
#apply_cert{
    display:none;
}
#apply_box{
    position: fixed;
    z-index:5;
    background:rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    top:0;
    left:0;
    display: none;
}
#apply_close{
    position:absolute;
    top:5%;
    right:5%;
    z-index:5;
    cursor:pointer;
}
#apply_input{
    border-radius:10px;
    width:450px;;
    height:720px;
    background:#fff;
    position:absolute;
    top:5%;
    left:35%;
    padding:15px 30px;

}
#apply_input>p{
    text-align:center;
    overflow: auto;
}
/*#apply_input>p>label{
    float:left;
}*/
#apply_input>p>select{
   width:32%;

}
#apply_input>h3{
    text-align:center;
    margin-bottom:20px;
}